margin(numa)
  .mt{num}
    margin-top: (num)px

  .mr{num}
    margin-right: (num)px

  .mb{num}
    margin-bottom:  (num)px

  .ml{num}
    margin-left: (num)px


for num in (1..20)
  margin(num)

for num in (5..10)
  num = num * 5
  margin(num)

for num in (6..20)
  num = num * 10
  margin(num)
