padding(numa)
  .mt{num}
    padding-top: (num)px

  .mr{num}
    padding-right: (num)px

  .mb{num}
    padding-bottom:  (num)px

  .ml{num}
    padding-left: (num)px


for num in (1..20)
  padding(num)

for num in (5..10)
  num = num * 5
  padding(num)

for num in (6..20)
  num = num * 10
  padding(num)
