.tx-bold
  font-weight: bold

.tx-hide
  text-indent: -9999px
  overflow: hidden

.tx-ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.tx-preformatted
  word-break: break-all
  white-space: pre-line

.tx-break
  word-wrap: break-word

.tx-plane
  text-decoration: none

.tx-plane-hover
  &:hover
    text-decoration: none
